* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

img{
    width: 50%;
}

a {
    text-decoration: none;
}

.hero-section {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* border: 1px solid white; */
}

.logo {
    font-size: 24px;
    margin: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.hero-content,
.header {
    width: 80%;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: space-between;
    /* border: 1px solid white; */
    padding: 100px 0;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text {
    margin: 0;
    font-weight: 300;
}

button {
    width: 100px;
    padding: 8px 0;
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-weight: 600;
    font-size: 14;
    border-radius: 5px;
    font-family: "Roboto";
}


h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-text,
li {
    color: #e5e7eb;
    font-size: 18px;
}

h1,
.logo {
    color: #F9FaF8;
}